<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Уведомление об отложенных картах</h1>
    <p>Добрый день!</p>
    <p>У вас есть карточки для перевода.</p>
    <p>Спасибо что пользуетесь нашим сайтом.</p>
    <p>Пройти на сайт для перевода карточек: <%= @url %></p>
  </body>
</html>
