<h2>О программе</h2>
<p>Использование карточек (flashcards) для изучения языка — интуитивно понятный метод, суть которого крайне проста: Берётся небольшой листок бумаги, на одной стороне которого пишется текст на иностранном языке, а на другой стороне на родном. Такие листки собираются в колоды, родным языком вверх, тасуются и вытягиваются по одной. Задача человека восстановить текст на иностранном языке, видя только перевод на родной язык.</p>
<p>Данный сайт предоставляет Вам возможность создать такую колоду карт и изучить интересующий Вас язык. При создании карточки дата пересмотра автоматически выставляется равной сегодняшнему дню + 3 дня. После формирования колоды карт на сайте будет возможность проверить перевод карт дата пересмотра которых меньше текущей.</p>
<p>Для формирования колоды необходимо зарегистрироваться или войти через социальную сеть.</p>
