<h2>About</h2>
<p>the Use of cards (flashcards) for learning language — intuitive method, which essence is very simple: Take a small piece of paper, on one side of which is written text in a foreign language, and on the other side in the native. Such leaves collected in the deck, the native language of up, shuffled and drawn one at a time. The task of man to restore the text in a foreign language, seeing only translations into their native language.</p>
<p>This site provides You the opportunity to create a deck of cards and study the language You need. When you create a card review date is automatically set equal to today + 3 days. After the formation of a deck of cards on the website will be able to check the translation cards date of revision less than the current one.</p>
<p>For the formation of the deck must register or log in via a social network.</p>
